.hero {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 244, 254, 1) 100%
  );
  height: 270px;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
  width: 100%;
}

.hero__text {
  font-weight: 700;
  max-width: 800px;
  margin: auto;
  padding: 0 20px 0 20px;
  font-size: 53px;
  line-height: 55px;
  text-align: center;
}

@media (max-width: 600px) {
  .hero__text {
    font-size: 32px;
    line-height: 36px;
  }
}
